{% extends 'users/base.html' %}

{% load widget_tweaks %}

{% block head_content %}
    <title>
      Platzigram Signup
    </title>    
{% endblock head_content %}


{% block container %}

  {% if errors %}
    <p class="alert alert-danger">{{errors}}</p>
  {% endif %}
  <h1 class="text-center">
    Sign up!
  </h1>
  <form action="{% url 'users:signup' %}" method="POST" >
    {% csrf_token %}

    {% for field in form  %}
      <div class="form-group">
        {% render_field field|add_error_class:"is-invalid" placeholder=field.label class+="form-control" %}
        {% if field.errors %}
          <div class="invalid-feedback">
            {% for error in field.errors %}{{ error }}{% endfor %}
          </div>
        
        {% endif %}
      
      </div>
    {% endfor %}

    
    <button class="btn btn-primary btn-block mt-5" type="submit">
      Register
    </button>


  </form>
{% endblock container%}